/** Header section */
.navbar {
	background-color: #6c63ff;
}
.navlinks {
	margin: 15px;
	color: #ffffff;
}
.navlinks:hover {
	color: #240046;
}
.nav-border:hover {
	border-color: #0cb98b;
	transition: .5s;
}

/* *Home section */
.bg-img {
	height: 500px;
	background-image: url('/src/img/classroom.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/* *Footer section */
.footer {
	background-color: #6c63ff;
}

.animate:hover {
	-webkit-animation: pulse 1s;
	animation: pulse 1s;
}
